* {
    font-family: 'Bungee Hairline', cursive;
    font-family: 'Chakra Petch', sans-serif;
  }

body {
    background: rgb(29, 29, 88);
    color: rgb(193, 252, 238);
} 


#nav {
    background: rgb(29, 29, 88);
    box-shadow: 0 0 16px 16px rgb(2, 5, 40);
    margin-bottom: 4rem;
}

#headshot {
    object-fit: cover;
   width: 10%;
   overflow: hidden;
   box-shadow: 0 0 5px 5px rgb(2, 5, 40); 
}

.card {
    background: rgb(2, 5, 40);
    box-shadow: 0 0 8px 8px rgb(2, 5, 40);
    display: flex;
    justify-content: center;
    margin: 1rem;
}

.card-stacked {
    background: rgb(2, 5, 40);
    color:rgb(193, 252, 238);
}

.card-image {
   object-fit: cover;
   width: 150px;
   height: 150px;
   overflow: hidden;
   box-shadow: 0 0 5px 5px rgb(2, 5, 40);
   
}

ul {
    color: white;
}