* {
    font-family: 'Lato', sans-serif;
  }

  h6 {
      font-weight: 900;
  }

body {
    background-image: url(/assets/shootingstar.jpg);
    background-size: cover;
    min-height: 100vh;
} 

main {
    padding-top: 4rem;
    color: black;
}

a {
    font-size: 1.3em;
    font-weight:900;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(68,108,177);
    box-shadow: 0 0 25px 7px rgb(49, 46, 49);
    border-bottom: black;
    border: 1rem;
    height: 100px;
}

.sidenav {
    height: 50%;
    box-shadow: 0 0 25px 7px rgb(49, 46, 49); 
    background: rgb(226,232,248);
}

#headshot {
   height: 65%;
   box-shadow: 0 0 25px 5px rgb(49, 46, 49); 
   margin: .4rem;
}

.card {
    background: rgb(226,232,248);
    box-shadow: 0 0 25px 7px rgb(49, 46, 49); 
    display: flex;
    justify-content: center;
    /* padding: .5rem; */
}

.card-image {
   object-fit: cover;
   width: 60%;
   overflow: hidden;
   padding: 1rem;
}

#contact {
    padding-bottom: 1rem;
}