* {
    font-family: 'Lato', sans-serif;
  }

h6 {
    font-weight: 900;
}

body {
    /* background-image: url(/assets/shootingstar.jpg); */
    background-color: rgb(185, 204, 212);
    background-size: cover;
    min-height: 100vh;
} 

main {
    padding-top: 4rem;
    color: black;
}

a {
    font-size: 1.3em;
    font-weight:900;
}

nav .nav-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgb(68,108,177);
    box-shadow: 0 0 25px 7px rgb(49, 46, 49);
    border-bottom: black;
    border: 1rem;
    height: 100px;
}

small {
    font-size: .7em;
}

.sidenav {
    height: 50%;
    box-shadow: 0 0 25px 7px rgb(49, 46, 49); 
    background: rgb(241, 247, 250);
}

#headshot {
   height: 70%;
   box-shadow: 0 0 25px 5px rgb(49, 46, 49); 
   margin: .4rem;
}

.card {
    background: rgb(241, 247, 250);
    box-shadow: 0 0 25px 7px rgb(49, 46, 49); 
    display: flex;
    justify-content: center;
    border-radius: .5%;
    /* padding: .5rem; */
}

.myphoto {
    margin: .2rem;
    box-shadow: 0 0 25px 7px rgb(197, 213, 232); 
    border-radius: .5%;
    width: 65%;
    margin-top: 5%;
}

.card-image {
   object-fit: cover;
   width: 40%;
   overflow: hidden;
   padding: 5%;
}

#contact {
    padding-bottom: 1rem;
}